<%
	@identifier_field = MerbAuthSliceFullfat[:password_reset_identifier_field]
%>

<%= form_for :merb_auth_slice_fullfat_password_resets, :class=>"password_reset" do %>
	
	<fieldset>
		<legend>
			To reset your password please enter your email address below. A link to reset your password will be mailed to you.
		</legend>
		
		<dl>
			<dt><label for="<%= @identifier_field %>_field"><%= @identifier_field.to_s.capitalize %></label></dt>
			<dd><input type="text" name="<%= @identifier_field %>" id="<%= @identifier_field %>_field" /></dd>
		</dl>
		
	</fieldset>
	<fieldset class="buttons">
		<input type="submit" value="Reset my password" />
	</fieldset>	

<% end =%>
