<h1>Edit your Application</h1>

<%= form_for @authenticating_client, 
						:action=>slice_url(:authenticating_client, @authenticating_client), 
						:method=>"put", :class=>"authenticating_client" do %>
	
	<%= error_messages_for @authenticating_client %>
	
	<fieldset>
		<legend>Application information</legend>
		
		<dl>
			<dt><label for="merb_auth_slice_fullfat_authenticating_clients_name">Application name</label></dt>
			<dd><%= text_field :name, :name=>"authenticating_client[name]", :value=>h(@authenticating_client.name) %></dd>
			
			<dt><label for="merb_auth_slice_fullfat_authenticating_clients_name">Web URL</label></dt>
			<dd><%= text_field :web_url, :name=>"authenticating_client[web_url]", :value=>h(@authenticating_client.web_url) %></dd>
			
			<dt><label for="merb_auth_slice_fullfat_authenticating_clients_name">Icon URL</label></dt>
			<dd><%= text_field :icon_url, :name=>"authenticating_client[icon_url]", :value=>h(@authenticating_client.icon_url) %></dd>
		</dl>
		
	</fieldset>
	
	<% if @authenticating_client.is_webapp? %>
		<fieldset id="web_only">
			<legend>Web-based applications settings</legend>
		
			<dl>
				<dt><label for="merb_auth_slice_fullfat_authenticating_clients_callback_url">Callback URL</label></dt>
				<dd><%= text_field :callback_url, :name=>"authenticating_client[callback_url]", :value=>@authenticating_client.callback_url %></dd>
			</dl>
		</fieldset>
	<% end %>
	
	<fieldset class="buttons">
		<input type="hidden" name="method" value="put" />
		<%= submit "Submit changes" %>
	</fieldset>
	
<% end =%>