<h1><%=h @authenticating_client.name %> wants access to your account!</h1>

<p class="abstract">
	The application <%= link_to h(@authenticating_client.name), @authenticating_client.web_url %> wants access to your content.
</p>

<h2>Grant this application access to your account</h2>
<%= form_for @authenticating_client, :action=>slice_url(:tokens), :class=>"authentication" do %>
	<fieldset>
		<p class="confirmation">
			<%=h @authenticating_client.name %> will be granted access to your data. 
			The application will <strong>not</strong> have the ability to grant access to other applications.
			You will be able to revoke this access at a later date if you so choose.
		</p>

		<input type="hidden" name="oauth_token" value="<%=h @token.token_key %>" />
	</fieldset>
	
	<fieldset>
		<legend>Options</legend>
		
		<dl>
			<dt><label for="token_expires">Allow access until</label></dt>
			<dd></dd>		
		</dl>
	</fieldset>

	<fieldset class="buttons">
		<%= submit "Grant access", 	:name=>"grant", 	:value=>"allow" %>
		<%= submit "Deny access", 	:name=>"grant", 	:value=>"deny"%>
	</fieldset>
<% end =%>