<h1><%=h @authenticating_client.name %> wants access to your account!</h1>

<p class="abstract">
	The application <%= link_to h(@authenticating_client.name), @authenticating_client.web_url %> wants <strong><%=h request.api_permissions %></strong> access to your account.
</p>

<h2>Details:</h2>
<p class="permissions">
	<%=h MerbAuthSliceFullfat[:client_permission_levels][request.api_permissions.to_sym][:description] %>
</p>

<h2>Grant this application access to your account</h2>
<%= form_for @authenticating_client, :action=>slice_url(:tokens), :class=>"authentication" do %>
	<fieldset>
		<p class="confirmation">
			<%=h @authenticating_client.name %> will be granted <%=h request.api_permissions %> to your data. 
			The application will <strong>not</strong> have the ability to grant access to other applications.
			You will be able to revoke this access at a later date if you so choose.
		</p>
		<p class="cancel">
			To grant access, select &quot;Grant access&quot; below. You may close this window or use your browser's back
			button to cancel without giving access to this application.
		</p>

		<input type="hidden" name="<%=h MerbAuthSliceFullfat[:api_key_param] %>" value="<%=h @authenticating_client.api_key %>" />
		<input type="hidden" name="<%=h MerbAuthSliceFullfat[:api_permissions_param] %>" value="<%=h request.api_permissions %>" />
		<% unless @authenticating_client.is_webapp? %>
			<input type="hidden" name="<%=h MerbAuthSliceFullfat[:api_receipt_param] %>" value="<%=h @token.receipt %>" />
		<% end %>
	</fieldset>

	<fieldset class="buttons">
		<%= submit "Grant access" %>
	</fieldset>
<% end =%>